.modal__container {
    background: whitesmoke;
    padding: 40px 20px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    max-height: 60%;
    overflow-y: auto;
}
.modal__btn {
    width: 200px;
    margin: 0 auto;
}
.close__icon__wrapper {
    position: absolute;
    right: 0px;
    top: 0px;
}
.shop__wrapper {
    padding: 20px 50px;
}
/* .brands__row {
    display: flex;
    flex-direction: row;
    gap: 20px;
} */
.filters__column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.types__column__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid lightgray;
}
.types__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 300px;
    width: 200px;
    overflow-y: auto;
}
.types__column::-webkit-scrollbar {
    width: 4px;

}
.types__column::-webkit-scrollbar-thumb {
    border-radius: 11px;
    background-color: #a9a9a9;

}
.types__column::-webkit-scrollbar-track {
    border-radius: 11px;
    background-color: #E3E5ED;

}
.brands__column__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid lightgray;
}
.brands__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    max-height: 300px;
    overflow-y: auto;
}
.brands__column::-webkit-scrollbar {
    width: 4px;

}
.brands__column::-webkit-scrollbar-thumb {
    border-radius: 11px;
    background-color: #a9a9a9;

}
.brands__column::-webkit-scrollbar-track {
    border-radius: 11px;
    background-color: #E3E5ED;

}
.devices__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.shop__flex__row {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.shop__flex__column {
    display: block;
    width: calc(100% - 200px);
}
.filters__count {
    color: #a9a9a9;
}
.filters__bar {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.filters__left {
    display: flex;
    align-items: center;
    gap: 20px;
}
.filters__button {
    display: none;
}
.applied__filters {
    padding-bottom: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.drawer__footer {
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 0 10px;
}
.filters__drawer {
    display: flex;
    flex-direction: column;
}
.sort__select {
    width: 200px;
}
.popup__wrapper {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 400px;
}
@media screen and (max-width:768px) {
    .modal__container {
        width: 300px;
    }
    .shop__wrapper {
        padding: 20px;
    }
    .filters__column {
        display: none;
    }
    .filters__column__active {
        display: flex;
        gap: 80px;
        padding: 20px 0px;
    }
    .brands__column {
        width: 250px;
    }
    .types__column {
        width: 250px;
    }
    .shop__flex__column {
        width: 100%;
    }
    .filters__button {
        display: block;
    }
}
@media screen and (max-width:425px) {
    .modal__container {
        width: 280px;
        padding: 40px 10px;
    }
}