.device__img {
   width: 200px;
    height: 150px;
}
.device__item__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 0.5px solid #D9DDDC;
    padding: 20px;
}
.price__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}