.device__img {
   
    width: 100%;
    height: 150px;
    cursor: pointer;
}
.device__item__wrapper {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* justify-content: space-between; */
    border: 0.5px solid #D9DDDC;
    padding: 20px;
}
.price__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.device__name {
    display: block;
    overflow: hidden;
    line-height: 18px;
    height: 36px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  -webkit-box-orient: vertical;  
    
  
}
@media screen and (max-width: 1200px) {
    .device__item__wrapper {
        width: 50%;
    }
}
@media screen and (max-width:1024px) {
    /* .device__item__wrapper {
        width: 33.3%;
    } */
}
@media screen and (max-width:768px) {
    .device__item__wrapper {
        width: 50%;
    }
}
@media screen and (max-width:560px) {
    .device__item__wrapper {
        padding: 10px;
    }
    
}
@media screen and (max-width: 425px) {
    .device__item__wrapper {
        width: 100%;
        padding: 20px;
    }
    /* .device__img {
        height: 175px;
    } */
}