.device__img {
   
    width: 100%;
    height: 150px;
    cursor: pointer;
}
.device__item__wrapper {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 0.5px solid #D9DDDC;
    padding: 20px;
}
.price__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:1024px) {
    .device__item__wrapper {
        width: 33.3%;
    }
}
@media screen and (max-width:768px) {
    .device__item__wrapper {
        width: 50%;
    }
}
@media screen and (max-width:560px) {
    .device__item__wrapper {
        padding: 10px;
    }
    
}
@media screen and (max-width: 425px) {
    .device__item__wrapper {
        width: 100%;
        padding: 20px;
    }
    .device__img {
        height: 200px;
    }
}