.modal__container {
    background: whitesmoke;
    padding: 40px 20px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    max-height: 75%;
    overflow-y: auto;
}
.modal__btn {
    width: 200px;
    margin: 0 auto;
}
.close__icon__wrapper {
    position: absolute;
    right: 0px;
    top: 0px;
}
@media screen and (max-width:768px) {
    .modal__container {
        width: 300px;
    }
}
@media screen and (max-width:425px) {
    .modal__container {
        width: 280px;
        padding: 40px 10px;
    }
}
.total__price__wrapper {
    display: flex;
    align-self: flex-end;
    gap: 15px;
    border: 1px solid green;
    padding: 15px;
}
.total__price {
    align-content: center;
    font-size: 24px;
}