
.checkout__wrapper {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    
}
.devices__wrapper {
    width: 600px;
    border: 1px solid #e9e9e9;
    padding: 10px;
}
.form__input {
    width: 600px;
}
.form__error {
    color: red;
}
.form__wrapper {
    padding:25px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.checkout__main {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.checkout__aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e9e9e9;
    background-color: #f5f5f5;
    padding: 15px;
    width: 250px;
    height: 200px;
}
.checkout__link {
    color: #1976D2;
}
.popup__wrapper {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 400px;
}

@media screen and (max-width:1440px) {
    .devices__wrapper {
        width: 450px;
    }
    .form__input {
        width: 450px;
    }
    .checkout__wrapper {
        width: 90%;
    }
}
@media screen and (max-width: 1024px) {
    .devices__wrapper {
        width: 350px;
    }
    .form__input {
        width: 350px;
    }
}
@media screen and (max-width:768px) {
    .form__wrapper {
        flex-direction: column;
        gap: 50px;
    }
    .devices__wrapper {
        width: 100%;
    }
    .form__input {
        width: 100%;
    }
    .checkout__aside {
        width: 100%;
    }
}