.device__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    width: 80%;
    margin: 0 auto;
}

.device__img__wrapper {
    
    width: 500px;
}
.device__img {
    width: 500px;
    min-height: 300px;
}
.device__buying {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: 0.5px solid #D9DDDC;
    padding: 20px;
    min-width: 400px;
}
.buy__button {
    width: 150px;
}
.device__price {
    font-size: 24px;
}
.price__flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.device__flex__left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.device__flex__right {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.device__reviews__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.review__button {
    width: 200px;
}
.device__info__wrapper {
    background-color: #cceffb;
    padding: 15px 20px 0px 20px;
    
    
}
.device__info__wrapper tr {
    display: flex;
    justify-content: space-between;
}
.device__info__wrapper td {
    padding-bottom: 20px;
}
.popup__wrapper {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 400px;
}