.device__img__wrapper {
    width: 150px;
    height: 100px;
}
.device__img__wrapper__small {
    width: 80px;
    height: 60px;
}
.device__img {
    width: 150px;
    height: 100px;
    cursor: pointer;
}
.device__img__small {
    width: 80px;
    height: 60px;
    cursor: pointer;
}
.device__item__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: 1px solid #e6e6e6;
    padding: 20px; */
}
.expanded__wrapper {
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}
.device__item__expanded {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.device__item__left {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
