.device__img__wrapper {
    width: 150px;
    height: 100px;
}
.device__img__wrapper__small {
    width: 50px;
    height: 50px;
}
.device__img {
    width: 150px;
    height: 100px;
    cursor: pointer;
}
.device__img__small {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.device__item__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: 1px solid #e6e6e6;
    padding: 20px; */
}
.expanded__wrapper {
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}
.device__item__expanded {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.device__item__left {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.device__name {
    max-width: 250px;
}
@media screen and (max-width: 900px) {
    .device__name {
        max-width: 200px;
        font-size: 16px;
    }
}
@media screen and (max-width: 560px) {
    .device__img__wrapper__small {
        width: 40px;
        height: 40px;
    }
    .device__img__small {
        width: 40px;
        height: 40px;
    }
    .device__img__wrapper {
        width: 120px;
        height: 80px;
    }
    .device__img {
        width: 120px;
        height: 80px;
    }
}
@media screen and (max-width: 480px) {
    .device__img__wrapper {
        width: 100px;
        height: 75px;
    }
    .device__img {
        width: 100px;
        height: 75px;
    }
    .device__name {
        max-width: 150px;
        font-size: 14px;
    }
}
@media screen and (max-width:375px) {
    .device__name {
        max-width: 120px;
    }
}