.device__img {
    width: 125px;
    height: 100px;
}
.device__item__wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e6e6e6;
    padding-top: 20px;
}
.device__item__main {
    display: flex;
    gap: 5px;
}
.device__item__right {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
@media screen and (max-width: 1024px) {
    .device__img {
        width: 100px;
        height: 80px;
    }
    .device__item__name {
        font-size: 14px;
        max-width: 150px;
    }
}
@media screen and (max-width: 480px) {
    .device__img {
        width: 80px;
    }
}